* {
  margin: 0;
  padding: 0;
}

.formulaire {
  display: flex;
  padding: 15px;
  border-radius: 15px;
  background-color: grey;
}

form {
  display: flex;
  width: 100%;
}

form > * {
  width: min-content;
  text-wrap: nowrap;
}

form > select {
  margin: 0px 3px;
}

form > input {
  margin-left: 3px;
}

#subBtn {
  margin-left: auto;
}